examples/MerakiCMXMapSample.json
[{"id":"15a6d95.594a427","type":"split","z":"e3826fbf.d69e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":390,"y":180,"wires":[["7bf5bee5.e3c79","99b5f7e7.7f00c8"]]},{"id":"bde4e23.55fe92","type":"function","z":"e3826fbf.d69e6","name":"Extract Observations","func":"// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["15a6d95.594a427"]]},{"id":"7bf5bee5.e3c79","type":"debug","z":"e3826fbf.d69e6","name":"Observation","active":true,"console":"false","complete":"true","x":550,"y":180,"wires":[]},{"id":"5ba45261.184b5c","type":"worldmap","z":"e3826fbf.d69e6","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","panit":"false","x":550,"y":340,"wires":[]},{"id":"c920ea6e.f4b198","type":"Meraki CMX","z":"e3826fbf.d69e6","name":"","url":"/scanningMap","settings":"","radioType":"All","x":110,"y":160,"wires":[["bde4e23.55fe92"],["93ce3b38.2cb928"]]},{"id":"93ce3b38.2cb928","type":"debug","z":"e3826fbf.d69e6","name":"Status","active":true,"console":"false","complete":"true","x":150,"y":220,"wires":[]},{"id":"99b5f7e7.7f00c8","type":"function","z":"e3826fbf.d69e6","name":"format data","func":"var data = msg;\nmsg = {};\nmsg.payload = {};\nmsg.payload.name = data.payload.clientMac;\nmsg.payload.lat = data.payload.location.lat;\nmsg.payload.lon = data.payload.location.lng;\nmsg.payload.ipv4 = data.payload.ipv4;\nmsg.payload.ssid = data.payload.ssid;\nmsg.payload.os = data.payload.os;\nmsg.payload.rssi = data.payload.rssi;\nmsg.payload.manufacturer = data.payload.manufacturer;\nmsg.payload.type = data.type;\nmsg.payload.apMac = data.apMac;\nmsg.payload.layer = \"Meraki\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":130,"y":300,"wires":[["5ba45261.184b5c","4e191140.a2d73","5cbcb106.bfa32"]]},{"id":"4e191140.a2d73","type":"debug","z":"e3826fbf.d69e6","name":"Formatted Data","active":true,"console":"false","complete":"payload","x":540,"y":300,"wires":[]},{"id":"5cbcb106.bfa32","type":"function","z":"e3826fbf.d69e6","name":"move and zoom","func":"msg.payload = { command:{layer:\"Meraki\",lat:msg.payload.lat,lon:msg.payload.lng,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":360,"wires":[["5ba45261.184b5c"]]}]