examples/MerakiCMXBasicSample.json
[{"id":"1c973963.fd5937","type":"switch","z":"b7c34771.f53b48","name":"Search Clients","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Apple","vt":"str"},{"t":"cont","v":"00:26:ab:b8:a9:a5","vt":"str"}],"checkall":"true","outputs":2,"x":140,"y":360,"wires":[["af2f5cae.c61cd"],["e89d2aba.d9d2c8"]]},{"id":"6303cdfb.0b5b74","type":"debug","z":"b7c34771.f53b48","name":"Apple Device Found!","active":true,"console":"false","complete":"payload","x":620,"y":360,"wires":[]},{"id":"af2f5cae.c61cd","type":"function","z":"b7c34771.f53b48","name":"Apple device found!","func":"msg.payload = \"Apple device found!\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["6303cdfb.0b5b74"]]},{"id":"e89d2aba.d9d2c8","type":"trigger","z":"b7c34771.f53b48","op1":"Welcome Back!","op2":"We miss you :(","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Welcome Back / We Miss You","x":330,"y":420,"wires":[["5af28609.22f988"]]},{"id":"5af28609.22f988","type":"debug","z":"b7c34771.f53b48","name":"CMX Message","active":true,"console":"false","complete":"payload","x":640,"y":420,"wires":[]},{"id":"4e8c8962.873958","type":"inject","z":"b7c34771.f53b48","name":"View Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":900,"wires":[["bedde32.6514d2"]]},{"id":"4a97ed55.850864","type":"debug","z":"b7c34771.f53b48","name":"","active":true,"console":"false","complete":"false","x":630,"y":900,"wires":[]},{"id":"cfc657ad.7b0568","type":"debug","z":"b7c34771.f53b48","name":"CMX Validator","active":true,"console":"false","complete":"validator","x":640,"y":160,"wires":[]},{"id":"94a37f12.bb2aa","type":"debug","z":"b7c34771.f53b48","name":"CMX Data","active":true,"console":"false","complete":"payload","x":650,"y":120,"wires":[]},{"id":"e6f3aa37.521638","type":"Meraki CMX","z":"b7c34771.f53b48","name":"","url":"/cmx","settings":"bd5d23fb.c0b37","x":97,"y":137,"wires":[["cfc657ad.7b0568","94a37f12.bb2aa","ad90e573.e1f998"]]},{"id":"1e4d63d7.38226c","type":"json","z":"b7c34771.f53b48","name":"Convert JSON object to string, for basic searching","x":290,"y":320,"wires":[["1c973963.fd5937"]]},{"id":"a3dd783a.ffda48","type":"debug","z":"b7c34771.f53b48","name":"cmx via link","active":true,"console":"false","complete":"payload","x":630,"y":780,"wires":[]},{"id":"ad90e573.e1f998","type":"link out","z":"b7c34771.f53b48","name":"cmx","links":["5a4662b5.a4fe7c","97ad0b4c.092c98","b89161b.b0cd9a"],"x":695,"y":200,"wires":[]},{"id":"5a4662b5.a4fe7c","type":"link in","z":"b7c34771.f53b48","name":"","links":["ad90e573.e1f998"],"x":55,"y":780,"wires":[["a3dd783a.ffda48","878fd293.25a4c"]]},{"id":"70cabbe6.23f384","type":"file","z":"b7c34771.f53b48","name":"","filename":"~/cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":620,"y":820,"wires":[]},{"id":"bedde32.6514d2","type":"file in","z":"b7c34771.f53b48","name":"","filename":"~/cmxdata.log","format":"utf8","x":380,"y":900,"wires":[["4a97ed55.850864"]]},{"id":"a1c5ac33.bcac9","type":"http in","z":"b7c34771.f53b48","name":"","url":"/cmxdata","method":"get","swaggerDoc":"","x":110,"y":1060,"wires":[["2da9cca.7bbfd34"]]},{"id":"91d2711.789f89","type":"http response","z":"b7c34771.f53b48","name":"","x":650,"y":1060,"wires":[]},{"id":"2da9cca.7bbfd34","type":"file in","z":"b7c34771.f53b48","name":"","filename":"~/cmxdata.log","format":"utf8","x":320,"y":1060,"wires":[["c029ca83.253728"]]},{"id":"878fd293.25a4c","type":"function","z":"b7c34771.f53b48","name":"clean data","func":"if (msg.payload !== null){\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":820,"wires":[["70cabbe6.23f384"]]},{"id":"79d44a8b.8d8044","type":"inject","z":"b7c34771.f53b48","name":"DELETE Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":940,"wires":[["bfd7b04c.1f147"]]},{"id":"bfd7b04c.1f147","type":"file","z":"b7c34771.f53b48","name":"","filename":"~/cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":600,"y":940,"wires":[]},{"id":"c029ca83.253728","type":"json","z":"b7c34771.f53b48","name":"","x":490,"y":1060,"wires":[["91d2711.789f89"]]},{"id":"8883a6f5.a175e8","type":"comment","z":"b7c34771.f53b48","name":"Store and View Data","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":110,"y":740,"wires":[]},{"id":"3594811b.0833be","type":"comment","z":"b7c34771.f53b48","name":"CMX Basic Flow - README","info":"This flow demonstrates how to use the Meraki CMX node.\n\nConfigure the CMX node with your URL & credentials\n\nThe server will start listening on the same port\nas Node-RED but will receive data on the \nURL configured\n\n# Example\nhttp://yourserver:1880/cmx\n\n# View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\nWritten by \nCory Guynn\nhttp://www.InternetOfLEGO.com\n\n\n","x":400,"y":20,"wires":[]},{"id":"97ad0b4c.092c98","type":"link in","z":"b7c34771.f53b48","name":"","links":["ad90e573.e1f998"],"x":55,"y":320,"wires":[["1e4d63d7.38226c"]]},{"id":"98be7973.5632d8","type":"comment","z":"b7c34771.f53b48","name":"Workflow Examples","info":"","x":110,"y":220,"wires":[]},{"id":"b89161b.b0cd9a","type":"link in","z":"b7c34771.f53b48","name":"","links":["ad90e573.e1f998"],"x":55,"y":520,"wires":[["37935047.5956b","95bc2899.e623f8","5c5deb3b.ad1a84"]]},{"id":"37935047.5956b","type":"change","z":"b7c34771.f53b48","name":"payload.data.apMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.apMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":520,"wires":[["5d3edb6f.6cbbe4"]]},{"id":"5d3edb6f.6cbbe4","type":"debug","z":"b7c34771.f53b48","name":"apMac","active":true,"console":"false","complete":"payload","x":670,"y":520,"wires":[]},{"id":"95bc2899.e623f8","type":"change","z":"b7c34771.f53b48","name":"payload.data.observations[0].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["b72698f5.e99e68"]]},{"id":"b72698f5.e99e68","type":"debug","z":"b7c34771.f53b48","name":"observation[0] - clientMac","active":true,"console":"false","complete":"payload","x":610,"y":560,"wires":[]},{"id":"5c5deb3b.ad1a84","type":"change","z":"b7c34771.f53b48","name":"payload.data.observations[1].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":640,"wires":[["ffc361ce.71a3b"]]},{"id":"ffc361ce.71a3b","type":"debug","z":"b7c34771.f53b48","name":"observation[1] - clientMac","active":true,"console":"false","complete":"payload","x":610,"y":640,"wires":[]},{"id":"3fc4dabc.c0bd96","type":"change","z":"b7c34771.f53b48","name":"payload.data.observations[0].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["2410759f.2efe1a"]]},{"id":"133ea948.f8c4f7","type":"change","z":"b7c34771.f53b48","name":"payload.data.observations[1].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["bbb818a3.0e7b78"]]},{"id":"2410759f.2efe1a","type":"debug","z":"b7c34771.f53b48","name":"observation[0] - location","active":true,"console":"false","complete":"payload","x":610,"y":600,"wires":[]},{"id":"bbb818a3.0e7b78","type":"debug","z":"b7c34771.f53b48","name":"observation[1] - location","active":true,"console":"false","complete":"payload","x":610,"y":680,"wires":[]},{"id":"1dd0f4ec.a3296b","type":"comment","z":"b7c34771.f53b48","name":"Search JSON as a string","info":"","x":150,"y":260,"wires":[]},{"id":"e32b28ff.2e4d18","type":"comment","z":"b7c34771.f53b48","name":"Search JSON as an object","info":"","x":150,"y":480,"wires":[]},{"id":"fdc9c196.41aa2","type":"comment","z":"b7c34771.f53b48","name":"Log File","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":90,"y":840,"wires":[]},{"id":"dec38a82.850668","type":"comment","z":"b7c34771.f53b48","name":"REST API client interface","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":150,"y":1020,"wires":[]},{"id":"88ccef91.b3e48","type":"comment","z":"b7c34771.f53b48","name":"CMX Listener","info":"","x":90,"y":80,"wires":[]},{"id":"bd5d23fb.c0b37","type":"meraki-cmx-settings","z":"b7c34771.f53b48","name":""}]