examples/MerakiCMXBasicSample.json
[{"id":"f992f4f1.9050a8","type":"switch","z":"7abfcb38.247e44","name":"Search Clients","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Apple","vt":"str"},{"t":"cont","v":"00:26:ab:b8:a9:a5","vt":"str"}],"checkall":"true","outputs":2,"x":163,"y":364,"wires":[["76ca9d2a.ca5c84"],["22f6b0a.7076e5"]]},{"id":"dd2ad7e5.776f88","type":"debug","z":"7abfcb38.247e44","name":"Apple Device Found!","active":true,"console":"false","complete":"payload","x":643,"y":364,"wires":[]},{"id":"76ca9d2a.ca5c84","type":"function","z":"7abfcb38.247e44","name":"Apple device found!","func":"msg.payload = \"Apple device found!\"\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":364,"wires":[["dd2ad7e5.776f88"]]},{"id":"22f6b0a.7076e5","type":"trigger","z":"7abfcb38.247e44","op1":"Welcome Back!","op2":"We miss you :(","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Welcome Back / We Miss You","x":353,"y":424,"wires":[["9a602424.61d608"]]},{"id":"9a602424.61d608","type":"debug","z":"7abfcb38.247e44","name":"CMX Message","active":true,"console":"false","complete":"payload","x":663,"y":424,"wires":[]},{"id":"df1cd7f4.6757e8","type":"inject","z":"7abfcb38.247e44","name":"View Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":904,"wires":[["e681c159.2764"]]},{"id":"27dc3c2b.ebb3b4","type":"debug","z":"7abfcb38.247e44","name":"","active":true,"console":"false","complete":"false","x":653,"y":904,"wires":[]},{"id":"c4d632fc.22714","type":"debug","z":"7abfcb38.247e44","name":"CMX Validator","active":true,"console":"false","complete":"validator","x":663,"y":164,"wires":[]},{"id":"dfb4877f.fd66a8","type":"debug","z":"7abfcb38.247e44","name":"CMX Data","active":true,"console":"false","complete":"payload","x":673,"y":124,"wires":[]},{"id":"a0932076.be753","type":"Meraki CMX","z":"7abfcb38.247e44","name":"","url":"/cmx","settings":"313079e9.750196","x":120,"y":141,"wires":[["c4d632fc.22714","dfb4877f.fd66a8","1e436d9b.c01d12"]]},{"id":"f3d0b29d.ae1a9","type":"json","z":"7abfcb38.247e44","name":"Convert JSON object to string, for basic searching","x":313,"y":324,"wires":[["f992f4f1.9050a8"]]},{"id":"65874619.1cbfe8","type":"debug","z":"7abfcb38.247e44","name":"cmx via link","active":true,"console":"false","complete":"payload","x":653,"y":784,"wires":[]},{"id":"1e436d9b.c01d12","type":"link out","z":"7abfcb38.247e44","name":"cmx","links":["48eb3b54.7a27d4","f84ca369.07757","d5b5b2e3.9bf5","7a17db2d.f45ce4"],"x":718,"y":204,"wires":[]},{"id":"48eb3b54.7a27d4","type":"link in","z":"7abfcb38.247e44","name":"","links":["1e436d9b.c01d12"],"x":78,"y":784,"wires":[["65874619.1cbfe8","b71af5c6.dd3fc8"]]},{"id":"9f5126d3.de03b8","type":"file","z":"7abfcb38.247e44","name":"","filename":"cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":633,"y":824,"wires":[]},{"id":"e681c159.2764","type":"file in","z":"7abfcb38.247e44","name":"","filename":"cmxdata.log","format":"utf8","x":393,"y":904,"wires":[["27dc3c2b.ebb3b4"]]},{"id":"e67e4f43.1d10e","type":"http in","z":"7abfcb38.247e44","name":"","url":"/cmxdata","method":"get","swaggerDoc":"","x":133,"y":1064,"wires":[["ca0256eb.2e20d8"]]},{"id":"392ce61b.51e32a","type":"http response","z":"7abfcb38.247e44","name":"","x":673,"y":1064,"wires":[]},{"id":"ca0256eb.2e20d8","type":"file in","z":"7abfcb38.247e44","name":"","filename":"cmxdata.log","format":"utf8","x":333,"y":1064,"wires":[["154b3b7.03b73c5"]]},{"id":"b71af5c6.dd3fc8","type":"function","z":"7abfcb38.247e44","name":"clean data","func":"if (msg.payload !== null){\n    return msg;\n}","outputs":1,"noerr":0,"x":393,"y":824,"wires":[["9f5126d3.de03b8"]]},{"id":"bcd0bda8.cadda","type":"inject","z":"7abfcb38.247e44","name":"DELETE Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":944,"wires":[["70683f5b.d123c"]]},{"id":"70683f5b.d123c","type":"file","z":"7abfcb38.247e44","name":"","filename":"cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":613,"y":944,"wires":[]},{"id":"154b3b7.03b73c5","type":"json","z":"7abfcb38.247e44","name":"","x":513,"y":1064,"wires":[["392ce61b.51e32a"]]},{"id":"f107506.18cfbb","type":"comment","z":"7abfcb38.247e44","name":"Store and View Data","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":133,"y":744,"wires":[]},{"id":"57b5ff7a.c010e","type":"comment","z":"7abfcb38.247e44","name":"CMX Basic Flow - README","info":"This flow demonstrates how to use the Meraki CMX node.\n\nConfigure the CMX node with your URL & credentials\n\nThe server will start listening on the same port\nas Node-RED but will receive data on the \nURL configured\n\n# Example\nhttp://yourserver:1880/cmx\n\n# View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\nWritten by \nCory Guynn\nhttp://www.InternetOfLEGO.com\n\n\n","x":423,"y":24,"wires":[]},{"id":"f84ca369.07757","type":"link in","z":"7abfcb38.247e44","name":"","links":["1e436d9b.c01d12"],"x":78,"y":324,"wires":[["f3d0b29d.ae1a9"]]},{"id":"3bce1ac0.26e3d6","type":"comment","z":"7abfcb38.247e44","name":"Workflow Examples","info":"","x":133,"y":224,"wires":[]},{"id":"d5b5b2e3.9bf5","type":"link in","z":"7abfcb38.247e44","name":"","links":["1e436d9b.c01d12"],"x":78,"y":524,"wires":[["d85e5e7f.aad3b","79bbf06a.6525e","a1471353.65f17","4ae7d87b.5ef1e8","d2c7559a.e47a88"]]},{"id":"d85e5e7f.aad3b","type":"change","z":"7abfcb38.247e44","name":"payload.data.apMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.apMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":263,"y":524,"wires":[["ad6cad17.09b19"]]},{"id":"ad6cad17.09b19","type":"debug","z":"7abfcb38.247e44","name":"apMac","active":true,"console":"false","complete":"payload","x":693,"y":524,"wires":[]},{"id":"79bbf06a.6525e","type":"change","z":"7abfcb38.247e44","name":"payload.data.observations[0].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":323,"y":564,"wires":[["347f192c.05a316"]]},{"id":"347f192c.05a316","type":"debug","z":"7abfcb38.247e44","name":"observation[0] - clientMac","active":true,"console":"false","complete":"payload","x":633,"y":564,"wires":[]},{"id":"a1471353.65f17","type":"change","z":"7abfcb38.247e44","name":"payload.data.observations[1].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":323,"y":644,"wires":[["2cd5de82.260c52"]]},{"id":"2cd5de82.260c52","type":"debug","z":"7abfcb38.247e44","name":"observation[1] - clientMac","active":true,"console":"false","complete":"payload","x":633,"y":644,"wires":[]},{"id":"4ae7d87b.5ef1e8","type":"change","z":"7abfcb38.247e44","name":"payload.data.observations[0].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":604,"wires":[["248ab312.54a5dc"]]},{"id":"d2c7559a.e47a88","type":"change","z":"7abfcb38.247e44","name":"payload.data.observations[1].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":684,"wires":[["60e18269.fea58c"]]},{"id":"248ab312.54a5dc","type":"debug","z":"7abfcb38.247e44","name":"observation[0] - location","active":true,"console":"false","complete":"payload","x":633,"y":604,"wires":[]},{"id":"60e18269.fea58c","type":"debug","z":"7abfcb38.247e44","name":"observation[1] - location","active":true,"console":"false","complete":"payload","x":633,"y":684,"wires":[]},{"id":"9dc0e2cc.b3bab","type":"comment","z":"7abfcb38.247e44","name":"Search JSON as a string","info":"","x":173,"y":264,"wires":[]},{"id":"1019236d.7f99ed","type":"comment","z":"7abfcb38.247e44","name":"Search JSON as an object","info":"","x":173,"y":484,"wires":[]},{"id":"aedec18a.86417","type":"comment","z":"7abfcb38.247e44","name":"Log File","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":113,"y":844,"wires":[]},{"id":"e325577a.9e7848","type":"comment","z":"7abfcb38.247e44","name":"REST API client interface","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":173,"y":1024,"wires":[]},{"id":"cc2d4f3b.d67bb","type":"comment","z":"7abfcb38.247e44","name":"CMX Listener","info":"","x":113,"y":84,"wires":[]},{"id":"86f83341.b217e","type":"inject","z":"7abfcb38.247e44","name":"DELETE - AUTO CLEAN","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":224.5,"y":981,"wires":[["621b514c.66cfc"]]},{"id":"621b514c.66cfc","type":"delay","z":"7abfcb38.247e44","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"days","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":407.5,"y":982,"wires":[["70683f5b.d123c"]]},{"id":"313079e9.750196","type":"meraki-cmx-settings","z":"7abfcb38.247e44","name":""}]
